meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1")
link(href="/assets/semantic/semantic.min.css" rel="stylesheet")
link(href="/assets/styles/components.css" rel="stylesheet")
link(href="/assets/styles/theme-plain.css" rel="stylesheet" id="theme-stylesheet" data-template="/assets/styles/theme-%s.css")
