$mq-S-width = 480px
$mq-M-width = 640px
$mq-L-width = 960px

mq_to(to)
  s("screen and (max-width: %s)", to - 1)
mq_from(from)
  s("screen and (min-width: %s)", from)
mq_from_to(from, to)
  s("screen and (min-width: %s) and (max-width: %s)", from, to - 1)
mq_from_and_print(from)
  s("screen and (min-width: %s), print", from)

up_to_S = mq_to($mq-S-width)
up_to_M = mq_to($mq-M-width)
up_to_L = mq_to($mq-L-width)

S_and_up = mq_from($mq-S-width)
M_and_up = mq_from($mq-M-width)
L_and_up = mq_from($mq-L-width)
L_and_up_and_print = mq_from_and_print($mq-L-width)

S_to_M = mq_from_to($mq-S-width, $mq-M-width)
S_to_L = mq_from_to($mq-S-width, $mq-L-width)
M_to_L = mq_from_to($mq-M-width, $mq-L-width)
