$color-white = #FFF
$color-black = #000
$color-brand-main = #FF183E
$color-brand-seco = #331833
$color-blue = #253649
$color-darkblue = #152639
$color-text = $color-brand-seco
$color-dark-bg = darken($color-brand-seco, 5)

$space-tiny = .25rem
$space-small = .5rem
$space-normal = .75rem
$space-medium = 1rem
$space-large = 1.5rem
$space-huge = 2.25rem

$font-family-base = glober-book, Helvetica, Arial, Tahoma, Verdana, sans-serif
