mixin input(id, name, type)
  - var type = type || attributes.type || 'text'
  - var classes = `input input--${type}` + (attributes.required ? ' input--required' : '')
  input(id=id name=name type=type)&attributes(attributes)
