doctype
html
  head
    title #{variation.title} • #{config.name} (#{config.version})
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="/assets/styles/main.css" rel="stylesheet")
  body
    !=variation.rendered
    script(src="/assets/scripts/main.js" defer)
