<nav class="hakuin-nav">
  {{#each navigation.items}}
    {{#if active}}
      <div class="hakuin-nav__item hakuin-nav__item--active">
    {{else}}
      <div class="hakuin-nav__item">
    {{/if}}
      <a href="{{absoluteUrl path ../page.path}}" class="hakuin-nav__link">{{title}}</a>
    </div>
  {{/each}}
</nav>
