doctype
html(class!="<!-- uiengine:class -->" data-theme!="<!-- uiengine:theme -->")
  head
    title <!-- uiengine:title -->
    include common/_head.pug
    link(href="/assets/styles/uiengine-custom-styles.css" rel="stylesheet")
  body
    <!-- uiengine:content -->
    include common/_foot.pug
