html {
  font-size: 16px;
}

body {
  color: var(--app-text-color);
  background: var(--app-background-color);
}

body.show-grid {
  background-size: 80px 100%;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px);
}

.label {
  /* Special color for labels */
  --label-text-color: var(--app-text-color);

  color: var(--label-text-color);
  font-weight: bold;
}
