:root {
  --text-color: #111;
  --background-color: #FFF;
}

[data-theme="funky"]:root {
  --text-color: rebeccapurple;
  --background-color: lavender;
}

html {
  font-size: 16px;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}
